.App {
    text-align: center;
}

img{
  width: 350px;
  height: 350px;
  padding: 5px;
  margin: 5px;
}

img:hover {
  opacity: 0.5;
}

h1, h2, h3, p{
  padding: 5px;
  margin: 2px;
}

h1, h2, h3{
  font-weight: bold;
}

.product-container{
   display: inline-flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 5px;
   justify-content: center;
   text-align: center;
 }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.cart-container{
  padding: 5px;
  width: 400px;
  height: 400px;
  text-align: start;
  background: none;


}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
