.App {
  text-align: center;
}

img{
  width: 350px;
  height: 350px;
  padding: 5px;
  margin: 5px;
}

h1, h2, h3, p{
  padding: 5px;
  margin: 2px;
}

h1, h2, h3{
  font-weight: bold;
}

.product-container{
  display: inline-flex;
  flex-flow: row wrap;
  padding: 5px;
  width: 400px;
  height: 400px;
  text-align: center;
  background: none;

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}